.contact-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 1rem;
  padding: 25px;
  max-width: 60rem;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-card-title {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--primary-color);
}

.contact-card-text {
  font-size: 1.2rem;
  color: #555;
  margin-top: 1rem;
}
