header {
    background-color: var(--header-background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    color: white;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }