.header {
    background-color: var(--header-background-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-div {
  margin-left: 25px;
  margin-right: 10px;
}

.header-text {
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
}

.a {
  color: var(--link-color);
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
}