.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.detail-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 0.2rem;
  padding: 25px;
  width: 100%;
  max-width: 60rem;
}

.detail-card-divider {
  align-self: center;
  width: 80%;
  margin: 1rem;
  color: var(--primary-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.detail-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.detail-card-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin: 0.5rem 0;
  color: var(--primary-color);
}

.detail-card-img {
  margin-top: 30px;
  align-self: center;
  width: 50%;
  height: auto;
}

.detail-card-titles {
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: center;
}

.detail-card-description-title {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.detail-card-description {
  text-align: center;
  font-size: 1.2rem;
}

.detail-card-list {
  padding-left: 1rem;
}

.detail-card-list-text {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}